{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 container">

    <form method="POST" class="mt-4">
        <div class="mb-3">
            <label for="first_name" class="pb-1">First Name *</label>
            <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Enter your first name" required/>
        </div>
        <div class="mb-3">
            <label for="last_name" class="pb-1">Last Name *</label>
            <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Enter your last name" required/>
        </div><div class="mb-3">
            <label for="email" class="pb-1">Email Address *</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="example@example.com" required/>
        </div><div class="mb-3">
            <label for="age" class="pb-1">Age *</label>
            <input type="number" name="age" id="age" class="form-control" required/>
        </div><div class="mb-3">
            <label for="bio" class="pb-1">Bio</label>
        <textarea name="bio" id="bio" class="form-control" placeholder="Add your bio here"></textarea>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-person-fill-add"></i>
                <span class="ml-2">Submit</span>
            </button>
        </div>
        </div>
    </form>
</div>
{% endblock %}