{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 container">
    <a href="{{url_for('index')}}">
        <button class="btn btn-dark btn-sm">
            <i class="bi bi-chevron-left"></i>
            <span class="ml-2">
                Back
            </span>
        </button>
    </a>
    <form method="POST" class="mt-4">
        <div class="mb-3">
            <label for="first_name" class="pb-1">First Name *</label>
            <input value={{student.first_name}} type="text" name="first_name" id="first_name" class="form-control" placeholder="Enter your first name" required/>
        </div>
        <div class="mb-3">
            <label  for="last_name" class="pb-1">Last Name *</label>
            <input value={{student.last_name}} type="text" name="last_name" id="last_name" class="form-control" placeholder="Enter your last name" required/>
        </div><div class="mb-3">
            <label for="email" class="pb-1">Email Address *</label>
            <input value={{student.email}} type="email" name="email" id="email" class="form-control" placeholder="example@example.com" required/>
        </div>
        <div class="mb-3">
            <label for="age" class="pb-1">Age *</label>
            <input value={{student.age}} type="number" name="age" id="age" class="form-control" required/>
        </div>
        <div class="mb-3">
            <label for="bio" class="pb-1">Bio</label>
            <textarea name="bio" id="bio" class="form-control" placeholder="Add your bio here">{{student.bio}}</textarea>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-person-check-fill"></i>
                <span class="ml-2">Update</span>
            </button>
        </div>
        </div>
    </form>
</div>
{% endblock %}