{% extends 'base.html'%}

{% block content %}
<div class="col-md-4 container mb-5">
<a href="{{url_for('get_students')}}">
    <button class="btn btn-sm btn-dark"> <i class="bi bi-chevron-left"></i> Back</button>
</a>
    <table class="table table-striped my-5">
        <tr>
            <th>First Name</th>
            <td>{{student.first_name}}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{student.last_name}}</td>
        </tr>
        <tr>
            <th>Email Address</th>
            <td>{{student.email}}</td>
        </tr>
        <tr>
            <th>Date of Birth</th>
            <td>{{student.date_of_birth}}</td>
        </tr>
        <tr>
            <th>Bio</th>
            <td>{{student.bio}}</td>
        </tr>
        <tr>
            <th>Created Date</th>
            <td>{{student.created_at.strftime("%d/%m/%Y")}}</td>
        </tr>
        <tr>
            <th>Updated Date</th>
            <td>{{student.updated_at.strftime("%d/%m/%Y")}}</td>
        </tr>
    </table>
</div>
{% endblock %}